/* style.css */
/* JavaScript Calculator */

 * {
    background-color: antiquewhite;
} 

body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#title {
    font-size: 3.5rem;
    font-family: "Special Elite", system-ui;
    color: black;
    text-decoration: underline;
}

.inputBtn {
    border: double black 4px;
}
#display {
    width: 396px;
    height: 50px;
    font-size: 2rem;
    font-family: "Special Elite", system-ui;
    border: solid black 4px;
    border-radius: 5px;
}



#calcArea {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 500px;

}

.btn {
    box-sizing: border-box;
    width: 100px;
    font-size: 2.5rem;
    font-family: "Special Elite", system-ui;
    border-radius: 5px;
    transition: transform 0.3s  ease-in-out;
}

.btn:hover {
    color: #fff;
    text-shadow: 0 0 15px #10667a, 0 0 25px #082938;
    
}

#decimal {
    width: 200px;
    height: auto;
}

#backspace {
    width: 200px;
    height: auto;
}


/* // <weight>: Use a value from 100 to 900
// <element shape>: Use a value from 0 to 100
// <uniquifier>: Use a unique and descriptive class name
 */

/* 
.bitcount-prop-single-<uniquifier> {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" <element shape>,
    "ELXP" 0;
} */
/* 
.special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
  }
   */